<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Home</title>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('get_categories_view') }}">
                            - to get a list of product categories add to IP this string: '/get_categories' <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{{ url_for('get_all_products_view') }}">
                            - to get all products list add this: '/get_all_products' <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{{ url_for('get_categories_view') }}">
                            - to get product by name use: '/get_products_by_category/"category name" <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{{ url_for('get_all_products_view') }}">
                            - to get product by name use: '/get_products_by_name/"name of product"' <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    </body>

</html>